{% load static %}
{% static "report" as baseUrl %}



<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery.min.js' %}"></script>
<link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet" id="bootstrap-css">
 
    <!--Fontawesome CDN-->
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"  >

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/all2.css' %}">
	<script src="{% static 'js/myscript.js' %}"></script>
	
</head>

<body >
<div id="snowflakeContainer">
<span class="snowflake"> <h1 color="green"> EMR Data</h1></span>
</div>

<div class="container" >
	
	<div id="doctor"></div>
	

 
           



  

	<div class="d-flex justify-content-center h-100  option-doctor">
	
	
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th colspan="3" > <center><h1>Report</h1></center></th>
            </tr>
            <tr>
              <td colspan="2" class="bg-success">Patient email</td>
              <td  ><div class="input-group form-group">
           
                <input type="text" class="form-control" value={{pemail1}}  name = "pemail" readonly>
                
              </div></td>

            </tr>
            <tr>
              <td colspan="2" class="bg-success">Doctor Name</td>
              <td><div class="input-group form-group">
           
                <input type="text" class="form-control" value={{docname1}}   name = "docname" readonly>
                
              </div></td>

            </tr>
            <tr>
              <td colspan="2" class="bg-success"> Report</td>
              <td><div class="input-group form-group">
           
                <input type="text" class="form-control" value={{reportof}}   name = "reportof" readonly>
                
              </div></td>

            </tr>
            <tr>
              <th scope="col" class="bg-danger">Row</th>
              <th scope="col" class="bg-info">symptoms</th>
              <th scope="col" class="bg-warning">Range of symptoms</th>
               
            </tr>
          </thead>
            
            
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>glucose</td>
                <td><div class="input-group form-group">
						 
                  <input type="text" class="form-control" value={{glucose}} name = "Glucose1" readonly>
                  
                </div>  </td>
                 
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Blood_Pressure</td>
                <td><div class="input-group form-group">
						 
                  <input type="text" class="form-control" value={{Blood_Pressure}} name = "Blood_Pressure" readonly>
                  
                </div> </td>
                 
              </tr>
              
              
              <tr>
                <th scope="row">3</th>
                <td>Insulin</td>
                <td><div class="input-group form-group">
						 
                  <input type="text" class="form-control" value={{Insulin}} name = "Insulin" readonly>
                  
                </div>  </td>
                
              </tr>
              
              <tr>
                <th scope="row">4</th>
                <td>BMI</td>
                <td><div class="input-group form-group">
						 
                  <input type="text" class="form-control" value={{BMI}} name = "BMI" readonly>
                  
                </div> </td>
                
              </tr>
              
              <tr>
                <th scope="row">5</th>
                <td>dpedgree</td>
                <td><div class="input-group form-group">
						 
                  <input type="text" class="form-control" value={{dpedgree}} name = "DiabetesPedigreeFunction" readonly>
                  
                </div>  </td>
                
              </tr>
              
              
              
              <tr  align="center">
                          <th colspan="3" > risk of Diabetes</th>
               </tr>
              
              <tr align="center">
                          <th colspan="3"> <div class="input-group form-group">
						 
                            <input type="text" class="form-control" value={{data22}} name = "data2" readonly>
                            
                          </div> </th>
               </tr>
               <tr align="center">
                <th colspan="3"> <div class="form-group d-flex justify-content-center">
                  <button type="button" class="btn btn-success"><a href="{{baseUrl}}/{{download}}">Download</a></button>
                  </div> </th>
                </tr>
              
              
              
              
              
              
            </tbody>
          </table>
          
		 
			
			 
			 
				 
				
			</div>
		</div>
	</div>
	 </div>

</body>
