{% load static %}




<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Diabetes report</title>

<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery.min.js' %}"></script>
<link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet" id="bootstrap-css">
 
    <!--Fontawesome CDN-->
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"  >

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/all2.css' %}">
    <script src="{% static 'js/myscript.js' %}"></script>
    <style>
        body{
            background-image: url('{% static 'images/452582.jpg' %}');
        }
    </style>
	
</head>

<body >
<div id="snowflakeContainer">
<span class="snowflake"> <h1 color="green"> EMR Data</h1></span>
</div>


<div class="container" >
	<!--<h1> EMR Data Analysis System to Predict Various Diseases</h1> -->
		<!--<h1 class="display-6">EMR Data Analysis System to Predict Various Diseases </h1> -->
	
	
	
		<div id="doctor"></div>

		
		




	<div class="d-flex justify-content-center h-100 float-md-center option-doctor">
	
	
	
		<div class="card" style="width: 50rem; height: 55rem;">
			<div class="card-header">
				<h3>Fill the details</h3>
			</div>
			
			
			<div class="card-body" >
				<form action="predicDiabetes" method="POST">
					{% csrf_token %}

					<h4 style=color:white>Doctor name:</h4>
					<div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="Doctor name"   name = "docname" required>
						
					</div>
					
					<h4 style=color:white>Patient email:</h4>
					<div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="Patient email:"   name = "pemail" required>
						
					</div>
					
					<h4 style=color:white>Report of:</h4>
					<div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="Report of"   name = "reportof" value = "diabetes" readonly>
						
                    </div>

					<h4 style=color:white>Glucose:</h4>
					<div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="Glucose"   name = "Glucose" required>
						
                    </div>
					
					<h4 style=color:white>Blood Pressure:</h4>
                    <div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="Blood Pressure"   name = "Blood_Pressure" required>
						
					</div>
					
					<h4 style=color:white>Insulin:</h4>
                    
                    <div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="Insulin"   name = "Insulin" required>
						
                    </div>
                    <h4 style=color:white>BMI:</h4>
                    <div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder="BMI"   name = "BMI" required>
						
                    </div>
                    <h4 style=color:white>DiabetesPedigreeFunction:</h4>
                    <div class="input-group form-group">
						 
						<input type="text" class="form-control" placeholder=" DiabetesPedigreeFunction"   name = "DiabetesPedigreeFunction" required>
						
					</div>
 
					 
					<div class="form-group d-flex justify-content-center">
						<input type="submit" value="Submit" class="btn float-right login_btn" style='background-color:red'>
					</div>
				</form>
			</div>
			
			 


				 
			</div>
		</div>
	</div>
	 
</div>

<div>
	{% for message in messages %}
	<h6>{{message}}</h6>
	{% endfor %}
</div>



</body>
